<tr>
    
    <td>
        <%= link_to event.name, event_path(event) %>
    </td>

    <td>
        <%= l event.start_at, format: :short %>
        -
        <%= l event.end_at, format: :short %>
    </td>

    <td>
        <%= event.price_in_euros %>
    </td>


    <td>

        <% if policy(event).edit? %>
            <%= link_to t('.edit'), edit_event_path(event) %><br>
        <% end %>
        <% if policy(event).destroy? %>
            <%= link_to "Delete", event_path(event), {method: :delete, class: 'small', data: {confirm: 'Are you sure?'}} %>
        <% end %>

    </td>

</tr>

