<h1><%= Event.model_name.human(count: 2) %></h1>

<% if @events.empty? %>

    <p>No events found.</p>
<% else %>
<table>
    <thead>
    <tr>
        <th>
            <%= Event.human_attribute_name(:name) %>
        </th>
        <th>
            <%= t '.date_header' %>
        </th>

        <th>
            <%=  t 'price' %>
        </th>  

        <th>
            <%= t 'index_actions' %>
        </th>
     
    </tr>
    </thead>

    <tbody>
<!--
        <%= render partial: 'show_events',
                   collection: @events ,
                   as: :event %>
-->


        <%= render partial: 'show_events',
                   collection: @events ,
                   locals: {event: @event},
                   spacer_template: 'spt_show_events',
                   layout: 'lspt_show_events',
                   as: :event %>


    </tbody>
</table>
<% end %>

<% if policy(Event).new? %>
    <%= link_to t(".new_event"), new_event_path, class: 'small radius button' %>
<% end %>
