<h1>
    <%= @event.name %>
</h1>
<p>
    <%= @event.description %>
</p>

<p>
    <b>Dates:</b>
    <%= l @event.start_at, format: :short %>
    -
    <%= l @event.end_at, format: :short %>
</p>


<%= render partial: "price",locals: {event: @event} %>

<br>

<%= render partial: "comments",locals: {event: @event} %>

<ul>
<% @event.comments.each do |comment| %>

	<li><%= comment.body %> </li>

<% end %>
</ul>

<% if Rsvp.for_event_and_user(@event,@event.user).exists? %>

<%= link_to "Cancel", event_rsvp_path(@event,@event.id),{method: :delete, class: 'small', data: {confirm: 'Are you sure?'}}%>

<%else%>
<%= link_to "Confirm", event_rsvps_path(@event),{method: :post	, class: 'small', data: {confirm: 'Are you sure?'}}%>

<%end%>